<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.UI.CommandLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Client.UI.CommandLine.Properties.Settings>
            <setting name="Hostname" serializeAs="String">
                <value>localhost</value>
            </setting>

            <setting name="Port" serializeAs="String">
                <value>3724</value>
            </setting>

            <setting name="RealmID" serializeAs="String">
                <value>-1</value>
            </setting>

            <setting name="CharID" serializeAs="String">
                <value>-1</value>
            </setting>

            <setting name="Username" serializeAs="String">
                <value>user</value>
            </setting>

            <setting name="Password" serializeAs="String">
                <value>pass</value>
            </setting>

            <setting name="Loglevel" serializeAs="String">
                <value>Info</value>
            </setting>

            <setting name="LagServer" serializeAs="String">
                <value>0</value>
            </setting>
        </Client.UI.CommandLine.Properties.Settings>
    </applicationSettings>
</configuration>